@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  text-shadow: #000 5px 5px 5px;
  margin: auto;
  min-width: 100%;
  text-align: left;
}

.header {
  display: flex;
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  border-bottom: 1px solid black;
}

.inner-header {
  height: 10%;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#actu{
  display: flex;
  flex-direction: row;
}

#actu p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:28px;
  text-shadow: #000 5px 5px 5px;
  margin: auto;

}

#actu img{
  margin: 10px;
}


.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

#titre{
  display: flex;
  flex-direction: row;
}

#icoTitre{
  width: auto;
  height: 50px;
  margin: 5%;
}