#nav{
    background: linear-gradient(145deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    height: 100%;
    width: 40%;   
    min-width: 100px; 
    margin-right: 0.5%;
}

li{
    font-family: 'Lato', sans-serif;
    list-style-type: circle;
    font-weight:100;
    font-size:28px;
    text-shadow: #000 5px 5px 5px;
    margin-bottom: 10%;
}